.close {
  position: absolute;
  top: 2rem;
  right: 0.2rem;
  width: 1.5rem;
  display: block;
  overflow: hidden;
  height: 1.5rem;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem 1.5rem;
  background-color: rgb(255, 0, 0);
  -webkit-mask: url('@/assets/close.svg');
  mask: url('@/assets/close.svg');
  cursor: pointer;
  z-index: 11;

  &:hover {
    transform: rotate(90deg);
    background-color: green;
  }
}
