.close {
  margin-right: 0.2rem;
  width: 1.2rem;
  display: block;
  overflow: hidden;
  height: 1.2rem;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2rem 1.2rem;
  background-color: $red;
  -webkit-mask: url('@/assets/close.svg');
  mask: url('@/assets/close.svg');
  cursor: pointer;

  &:hover {
    transform: rotate(90deg);
    background-color: $green;
  }
}
