@import './global/normalize';
@import './global/variables';
// buttons
@import './btn';
@import './close';
@import './input';
@import './cardList';
@import './navbar';
@import './dialog';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 1rem;
  color: $green;
  font-family: sans-serif;
  transition: all ease 0.8s;
  background-color: $white;

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    color: $red;
  }
}
